$--fonts-default-URL ?= pathjoin('..', 'fonts');
$--fonts-current-URL ?= $--fonts-default-URL;

get-fonts-URL() {
  return $--fonts-current-URL ? $--fonts-current-URL : $--fonts-default-URL;
}

set-fonts-URL(--fontsURL) {
  $--fonts-current-URL = --fontsURL;
}

font-face(--family, --basename = --family, --weight = normal, --hack = false) {
  --fontsURL = get-fonts-URL();
  @font-face {
    font-family: --family;
    src: url(pathjoin(--fontsURL, --basename + '.eot'));
    src: url(pathjoin(--fontsURL, --basename + '.eot?#iefix')) format('eot'),
         url(pathjoin(--fontsURL, --basename + '.woff')) format('woff'),
         url(pathjoin(--fontsURL, --basename + '.ttf')) format('truetype'),
         url(pathjoin(--fontsURL, --basename + '.svg#' + --family)) format('svg');
    font-style: normal;
    font-weight: --weight;
  }
  if --hack {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      @font-face {
        font-family: --family;
        src: url(pathjoin(--fontsURL, --basename + '.svg#' + --family)) format('svg');
        font-style: normal;
        font-weight: --weight;
      }
    }
  }
}
