@require "utils";

$--sprites-<%= spritename %> ?= {};
<% sprites.forEach(function(sprite) { %>$--sprites-<%= spritename %>['<%= sprite.name %>'] = '\<%= glyph.codepoint %>';
<% }); %>

icons-<%= fontname %>(glyphname) {
  codepoint = $--icons-<%= fontname %>[glyphname];
  font-family: "<%= fontname %>";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: codepoint;
    {block}
  }
}
