doctype html
html.no-js
  head
    meta(charset="utf-8")
    title Test Pug
    link(rel="stylesheet" href="styles/index.css")
  body
    h1 Hello, world!
    p #[i.dot--active]Who are you ?
    p.borrow ぼろう
